#index-page .container {
	margin-top: 50px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-sm-3 {
	padding: 0 2px;
}

.col-sm-3 img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 0 1px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding:5px;
}

img {
	max-width: 200px;
	max-height: 200px;
	filter:none;
}

.overlay-red {
    filter:drop-shadow(8px 8px 10px red);
}

.overlay-green {
   filter:drop-shadow(8px 8px 10px green);
}
