body {
	background-color: 	#F8F8F8;
}
#index-page {
	margin-top: 2em;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
		margin-right: 20px;
}
.nav {
	margin-top: 1em;
}
.center {
	text-align: center;
}
.stats {
	font-size:1em;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}
#photo-row {
	margin-top: 2em;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-sm-3 {
	padding: 0 2px;
}

.col-sm-3 img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 0 1px;
  padding:5px;
}

img {
  max-width: 200px;
	max-height: 200px;
	min-width: 200px;
	min-height: 200px;
}

.overlay-red {
	background-color: red;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.overlay-green {
	background-color: green;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}
.hidden {
	display: none;
}
.show {
	display: block;
}
h2 {
	font-size:2em;
	line-height: 2em;
}
h4 {
	color: #0088cc;
	text-align: center;
}
@media only screen and (max-width: 800px) {
    img {
        max-width: 50px;
				max-height: 50px;
				min-width: 50px;
				min-height: 50px;
    }
		h2 {
			font-size:1em;
			line-height: 2em;
		}
}
